openapi: 3.0.3
info:
  title: Tala Paints Platform API
  version: 1.0.0
  contact:
    name: API Support
    email: support@talapaints.com
servers:
  - url: http://localhost:3000
    description: Local development server


tags:
  - name: Health Check
    description: Server health monitoring
  - name: Products
    description: Product management operations (CRUD)
  - name: Categories
    description: Category management operations (CRUD)

paths:
  /api/health:
    $ref: "./swagger-products.yaml#/paths/~1health"

  /api/products:
    $ref: "./swagger-products.yaml#/paths/~1products"

  /api/products/{id}:
    $ref: "./swagger-products.yaml#/paths/~1products~1{id}"

  /api/categories:
    $ref: "./swagger-categories.yaml#/paths/~1categories"

  /api/categories/{id}:
    $ref: "./swagger-categories.yaml#/paths/~1categories~1{id}"
